@font-face {
    font-family: "Space Mono";
    src: url(../../assets/fonts/Space_Mono/SpaceMono-Regular.ttf)
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url(../../assets/fonts/Space_Mono/SpaceMono-Bold.ttf)
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Work Sans";
    src: url(../../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf)
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

$font-family-work-sans: "Work Sans", sans-serif;
$font-family-space-mono: "Space Mono", monospace;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

$line-height-xs: 1.2;
$line-height-sm: 1.3;
$line-height-base: 1.5;
$line-height-md: 1.6;
$line-height-lg: 1.8;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$letter-spacing-xs: -0.5px;
$letter-spacing-sm: 0px;
$letter-spacing-base: 0.5px;
$letter-spacing-md: 1px;
