@use "../../../app/styles/fonts" as *;
@use "../../../app/styles/variables" as *;

.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

    font-family: $font-family-work-sans;
    font-weight: $font-weight-semibold;
    font-size: $font-size-base;
    line-height: $line-height-sm-base;
    letter-spacing: $letter-spacing-sm;
    color: $text-color;
}

.Primary {
    background-color: $button-color;
}

.Secondary {
    background-color: $bg-color;
}

.s {
    border-radius: 1.25rem;
    padding: 0 1.25rem;
}

.m {
    border-radius: 1.25rem;
    padding: 0 1.875rem;
    height: 60px;
}
.l {
    border-radius: 1.25rem;
    padding: 0 3.125rem;
    height: 3.75rem;
}

.xl {
    border-radius: 2.1875rem;
    padding: 0 3.125rem;
    height: 59px;
    width: 100%;
    gap: 0.75rem;
}

.Children {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
