@use "../../../app/styles/fonts" as *;
@use "../../../app/styles/variables" as *;
.Wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
}

.Input {
    border-radius: 1.25rem;
    font-family: $font-family-work-sans;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;
    line-height: $line-height-sm-base;
    letter-spacing: $letter-spacing-sm;
    gap: 0.75rem;
    outline: 0;
    border: 0;
}

.Primary {
    height: 2.875rem;
    border: 1px solid $input-border-color;
    padding: 1rem 3.25rem 1.25rem;
    background-color: $bg-color;

    &::placeholder {
        color: $text-color;
    }
}

.Secondary {
    display: flex;
    align-items: center;
    width: 26.25rem;
    height: 3.75rem;
    padding: 1rem 0 1rem 1.25rem;
    background-color: $text-color;

    &::placeholder {
        color: $bg-color;
    }
}

.LeftIcon {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PasswordIcon {
    position: absolute;
    right: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
