@use "../../../app/styles/fonts" as *;
@use "../../../app/styles/variables" as *;

.Hero {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3.75rem;
    background-color: $bg-color;
}

.Hero_image {
    flex: 1 1 50%;
    height: 100vh;

    img {
        width: 100%;
    }
}

.Form {
    flex: 1 1 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 6.25rem 0;
    gap: 2.5rem;
}

.Form_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.25rem;
    width: 28.75rem;
}

.Form_title {
    display: flex;
    gap: 0.625rem;
    font-family: $font-family-work-sans;
    font-weight: $font-weight-semibold;
    font-size: 3.1875rem;
    line-height: 1.1;
    letter-spacing: $letter-spacing-sm;
    text-transform: capitalize;
    color: $text-color;
}

.Form_text {
    display: flex;
    gap: 0.625rem;
    font-family: $font-family-work-sans;
    font-weight: $font-weight-regular;
    font-size: 1.375rem;
    line-height: $line-height-md;
    letter-spacing: $letter-spacing-sm;
    text-transform: capitalize;
    color: $text-color;
}
